
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
#particle-div {
    margin: 0 auto;
    background-color: black;
}

.particles {
    width: 100vw !important;
    height: 100vh !important;
}

html{
    overflow:hidden;
  }

  .susamogus {
      text-align: center;
  }

  .title1 {
      font-size: 25px
  }

.font {
    font-family: 'Lexend', sans-serif !important;
    color: white;
}

.footer {
    margin-bottom: 7vh;
}

body {
    background-color: black !important;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(top right, #4287f5, #4e42f5);
    border-radius: 30px;
  }